# Lilly requires all packages to come from JFrog Artifactory.
# The public npm registry is not permitted.
# Access + auth setup: Artifactory | Developer Platform Front Door
registry=https://elilillyco.jfrog.io/artifactory/api/npm/npm/
always-auth=true
